<div class="navbar" id="navbar">
<%= image_tag "logo-nav.png", class:" center-block logo-nav0", id:"logo-nav" %>
  <div class="container-2 right" id="notice">  
    <%= form_tag(companies_path, method: :get, class:'right') do %>
      <span class="icon"><i class="fa fa-search" id="search-icon"></i>&nbsp
        <%= text_field_tag :term %>
      </span> 
    <% end %>  
  </div>  
</div>