<%= form_for(company) do |f| %>
<div class="container">
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field form-group">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="field form-group">
    <%= f.label :area %>
    <%= f.text_area :area %>
  </div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions form-group">
    <%= f.submit 'cadastrar', :class => 'btn btn-primary btn-sm' %>
  </div>
</div>
<% end %>
