<div class="main-panel">
  <%= render partial: 'shared/navigation_search' %><br>
    <div class="main-panel-body">
      <% @companies.each do |company| %>
      <a><%= link_to company do %>
      <div class="card">     
        <div class="row">
          <div class="col-md-4">
            <%= image_tag "companies/img-e-1-lista@3x.png", class:"logo_companies" %>
          </div>               
          <div class="col-md-8 text-left">
            <div class="">
              <p>
                <span class="name"><%= company.name %></span><br>    
                <span class="area"><%= company.area %></span><br>
                <span class="country"><%= company.country %></span>  <br>        
              </p>        
            </div>
          </div>
        </div>
      </div>  
      </a>    
      <% end%>
      <% end %>
    </div>
  </div>      