<div class="main-panel">
  <%= render partial: 'shared/navigation_search' %>
  <div class="main-panel-body">
    <div class="card">     
      <div class="col-md-12 "><br>
        <%= image_tag "companies/img-e-1-lista@3x.png", class:"logo_companies" %>
      </div><br>
      <div class="col-md-12 text-left">
        <div class="description">
        <p><%=@company.description %></p>
        </div><br>
      </div>    
    </div>         
    <%= link_to 'Voltar', companies_path %><br>
  </div>
</div>      