






<div class="main-panel center block">
<div class="main-panel-body">
<div class="container clearfix">
  <div class="col-md-5 col-xl-12 col-sm-12 col-md-offset-3">
    <div class="form-group">
      <%= image_tag("logo-home.png", class: "logo") %>
    </div>
    <div class="form-group">
      <span class="title">Bem vindo ao<br>Empresas</span>
    </div>
    <div class="form-group">
      <span class="sub-title">Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</span>
    </div>
    <div class="form-group">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
        <i class="fa fa-envelope"></i>
          <%= f.email_field :email, placeholder:"Email", autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
        <i class="fa fa-unlock-alt"></i>
          <%= f.password_field :password, placeholder:"Senha", autocomplete: "current-password" %>
        </div>
        <div class="actions">

            <%= f.submit "Log in",type:'button', class:"btn-log-in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
  </div>
</div>

