  <div>
  <p id="notice"><%= notice %></p>
  <h1>Usuarios</h1>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Senha</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.email %></td>
          <td><%= usuario.senha %></td>
          <td><%= link_to 'Mostrar', usuario %></td>
          <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
          <td><%= link_to 'Apagar', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Usuario', new_usuario_path %>
</div>
