// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card{
    background: white;
    border:none;
    padding: 20px;
}
.logo_companies{
   width: 100%;
}