html{
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 5%;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
    text-align: center;
    margin-top:50%;
    font-family: 'Roboto', sans-serif;
    @media (max-width:768px){
        padding: 0;
    }
}

.head{
    text-align: right;
    width: 100%;
}

a:link { 
text-decoration:none; 
} 

.main-panel{
    color: #333333;
    background-color: #ebe9d7;
    min-height: 100vh;

}
.main-panel-body{
    min-height: 100vh;
    display: table-row-group;

    padding: 0 5% ;
    top: 35%; bottom:0;
    left: 5%; right: 0;
    margin: auto;
    .description{
     padding: 5% ;
    }
}
.btn-log-in{
    width: 324px;
    height: 52.8px;
    border-radius: 3.6px;
    background-color: #57bbbc;
    color: white;
    font-size:16px;
    font-weight:bold;
    border:none;
  }

.left{
    float:left;
}

.right{
    float: right;
}
.logo{
    margin-top: 25%;
    width: auto;
    height: auto;   
}
.logo-nav{
    vertical-align: baseline;    
    @media (max-width:768px){
        float: left;
    }
}
.material-icons{
    color: #ee4c77!important;
}

.name{
    width: 306.3px;
    height: 39px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a0e49;
}

.area{
    width: 172.6px;
    height: 32px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8d8c8c;
}
.country{
    width: 119.7px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8d8c8c;
}

.card{
    background-color: white;   
    margin: 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif !important;
}
  
@media (max-width: 992px) {
    .row-flex{
        display: block;
    }
}
  
.right-margin {
    margin-right: 6px;
    &--lg {
    margin-right: 18px;
    }
}
  
.left-margin {
    margin-left: 6px;
    &--lg {
    margin-left: 18px;
    }
}
  
// Bootstrap Replaces
html, body {
    margin: 0px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    vertical-align: baseline;
}

.center-align{
    margin:0 auto;
    height: 100%;
    min-height: 100%;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.img_lista {
    width: 779px;
    height: 296px;
    background: red;
}

.icon{
    color: white;
}
input, select, textarea {
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #383743;
    font-size: 16px;
    background-color: transparent;

}

#navbar{
    text-align: center;
    padding: 10px;
    margin: 0px;
    height: 151px;
    background-image: linear-gradient(173deg, #ee4c77, #0d0430);
    vertical-align: baseline;
    input[type=text] {        
        color: white;
        width: 0px;
        box-sizing: border-box;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: transparent;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    input[type=text]:focus {
        width: 100%;        
        border-top: none;
        border-right: none;
        border-left: none;
        color: white;
    }
}